<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{url_for('static', filename='general.css')}}">
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
</head>

<body>
    <header>
        <div class = "navbar">
            {% if session['name'][1] == 'student' %}
            <a id = "nav" href = "index.html">Home</a>
            <a id = "nav" href = "calendar.html">Calendar</a>
            <a id = "nav" href = "news.html">News</a>
            <a id = "nav" href = "https://piazza.com/utoronto.ca/winter2024/cscb20h3s">Piazza</a>
            <a id = "nav" href = "lectures.html">Lectures</a>
            <a id = "nav" href = "labs.html">Labs</a>
            <a id = "nav" href = "assignments.html">Assignments</a>
            <a id = "nav" href = "tests.html">Tests</a>
            <a id = "nav" href = "resources.html">Resources</a>
            <a id = "nav" href = "team.html">Team</a>
            <a id = "nav" href = "feedback.html">Feedback</a>
            <a id = "nav" href = "grades.html">Grades</a>
            <a id = "nav" onclick="confirmLogout()">Logout</a>
        </div>    

            {% else %}
            <a id = "nav" href = "index.html">Home</a>
            <a id = "nav" href = "calendar.html">Calendar</a>
            <a id = "nav" href = "news.html">News</a>
            <a id = "nav" href = "https://piazza.com/utoronto.ca/winter2024/cscb20h3s">Piazza</a>
            <a id = "nav" href = "lectures.html">Lectures</a>
            <a id = "nav" href = "labs.html">Labs</a>
            <a id = "nav" href = "assignments.html">Assignments</a>
            <a id = "nav" href = "tests.html">Tests</a>
            <a id = "nav" href = "resources.html">Resources</a>
            <a id = "nav" href = "team.html">Team</a>
            <a id = "nav" href = "instructor_grades.html">Grades</a>
            <a id = "nav" onclick="confirmLogout()">Logout</a>
        </div>
            {% endif %}

        <script>
            function confirmLogout(){
                // Display a confirmation dialog
                var confirmation = confirm("Are you sure you want to logout?");
                
                // If user confirms, redirect to logout URL
                if (confirmation) {
                    window.location.href = "{{ url_for('logout') }}";
                }
            }
          </script>
    </header>

    {% block content %}
    {% endblock %}

</body>

<footer>
    <section class = "footer">
        <h2 id = "foot-title">About</h2>
        <ul>
            <li id="foot-cont">To access the Faculty of Computer Science at UofT website <a id="foot-cont-a" href="https://web.cs.toronto.edu/people/faculty-directory">click here</a></li>
            <li id="foot-cont">Site design by: Kshitij, Sheharyar</li>
        </ul>
    </section>
</footer>
</html>