{% extends "nav_foot.html" %}
{% block content %}
    <div class="news-section">
        <h2 class="page_title">News and Announcements</h2>
        <div class="news-item">
          <p>News item 1 content goes here...</p>
        </div>
        <div class="news-item">
          <p>News item 2 content goes here...</p>
        </div>
        <div class="news-item">
          <p>News item 3 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 4 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 5 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 6 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 7 content goes here...</p>
        </div>
    </div>
{% endblock %}