{% extends "template.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class = "flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <form action="http://127.0.0.1:5000/register" method = "post">
            <label for="username"> Username </label>
            <input type="text" id="Username" name="Username">

            <label for="name"> Full Name </label>
            <input type="text" id="Name" name="Name">
  
            <label for="mail"> Email </label>
            <input type="text" id="Email" name="Email">

            <label for="Password">Password</label>
            <input type="password" name="Password">

            <label for="Type">Type</label>
            <select id="Type" name="Type">
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
            </select>
  
            <button type="register">Register</button>
            <label><a href="{{url_for('login')}}">Already have an account? Log in.</a</label>
        </form>
{% endblock %}
