{% extends "nav_foot.html" %}
{% block content %}
    <section class="container">
        <h1 class="page_title">Course Team</h1>
        <div class="team_images">
            <div>
                <img src="{{ url_for('static', filename='anna.jpg') }}" alt="anna" />
                <p>Anna Bretscher</p>
            </div>
            <div>
                <img src="{{ url_for('static', filename='navinn.jpg') }}" alt="navinn" />
                <p>Navinn</p>
            </div>
            <div> 
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="profile" />
                <p>TBD</p>
            </div>
        </div>
    </section>
{% endblock %}