<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
</head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo">CSCB20: Introduction to Databases and Web Applications</h1>
        <strong>
          
        </strong>
      </div>
    </header>
    <br>
    
    
    
 </body>



{% block content %}
{% endblock %}
</html>